header {
  
    position: fixed;
    background-color: #dedfec;
    z-index: 1000;
    box-shadow: 0px 0px 10px 5px rgba(137, 137, 137, 0.203);
    
}

header a {
    cursor: pointer;
}

header .navs {
    display: flex;
    flex-direction: column;
    align-items: center;
   transition: .2s ease;
    border-radius: 50%;
    padding: 10px;
}
header .navs:hover{
    background-color: rgb(34, 35, 35);
}
header .navs:hover i{
    color: white;
}
header .navs i {
    font-size: 1.2rem;
    color: rgb(0, 0, 176);
}

.box {
    position: relative;
}

.box span {
    position: absolute;
    left: 0;
    bottom: -50px;
    font-size: 1rem;
    display: none;
    color: white;

}
header .navs .box:hover span{
    display: block;
}